<div class="card bg-dark text-white text-center">
  <img src="/objects-731426.jpg" class="card-img" alt="トップ画" style="height: 400px">
  <div class="card-img-overlay" style="top: 25%;">
    <h3 class="card-title">エンシェア</h3>
    <p class="card-text">
    <% if logged_in? %>
      <%= link_to 'ギア登録', new_gear_path, class: 'btn btn-primary'%>
    <% else %>
      <%= link_to  "会員登録", signup_path, class: 'btn btn-primary' %>
      <%= link_to  "簡単ログイン", signin_path(session: {email: 'test@test.com', password: 'test'}), method: :post, class: 'btn btn-success' %>
    <% end %>
    </p>
  </div>
</div>
<div class='container'>
  <div class='row'>
    <div class='col12'>
      <%= render 'gears/gears', gears: @gears %>
    </div>
  </div>
</div>
