<div class="text-center jumbotron jumbotron-fluid">
  <div class="container">
    <h2 class="jumbotron-header">エンシェア</h2>
    <p class='top_link'>
      <a href="#"><button type="button" class="btn btn-primary">簡単ログイン</button></a>
    </p>
  </div>
</div>