<div class='container rakuten_tab'>
  <div class='row'>
    <div class='col'>
      <h2 class="text-center rakuten_tab_h2">楽天ランキングトップ１０</h2>
      <%= render 'items', items: @items %>
    </div>
  </div>
</div>