<footer class="footer mt-auto py-3">
  <div class="container">
    <div class="text-muted text-center footer_body">
      &copy; 2019<script>new Date().getFullYear()>2019&&document.write("-"+new Date().getFullYear());</script>. <a href='https://enshare.info/' class='a_link'>enshare.info</a>/<a href='https://github.com/keesmark' class='a_link'>github</a>
    </div>
  </div>
</footer>